/* Untuk Tablet */
<<<<<<< HEAD
@media all and (max-wide: 1000px) {
=======
@media all and(max-wide: 1000px) {
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }

>>>>>>> c3e985619bccd60b49b33b4d8bff1f2a7c38c8ae
  .top-wrapper h1 {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 20px;
  }

  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }
}

/* Untuk Smartphones */
<<<<<<< HEAD
@media all and (max-width: 670px) {
=======
@media all and(max-width: 670px) {
>>>>>>> c3e985619bccd60b49b33b4d8bff1f2a7c38c8ae
  /* Ubah width milik lesson ke 100% */
  .header-right {
    display: none;
  }

  .menu-icon {
  display: block;
}

.btn {
  width: 100%;
}

.facebook {
  margin-bottom: 10px;
}

.top-wrapper {
  text-align: left;
  margin-top: 20px;
 }

 .top-wrapper h1 {
   font-size: 24px;
   line-height: 36px;
 }

 .top-wrapper p {
   font-size: 14px;
   line-height: 20px;
 }

  .lesson {
    width: 100%;
    }

  footer {
  text-align: center;
    }



<<<<<<< HEAD



=======
   .top-wrapper {
     text-align: left;
     margin-top: 20px;
    }
>>>>>>> c3e985619bccd60b49b33b4d8bff1f2a7c38c8ae

   .top-wrapper h1 {
       font-size: 24px;
       line-height: 36px;
    }

   .top-wrapper p {
      font-size: 14px;
      line-height: 20px;
    }

     .lessons {
       width: 100%;
     }

     footer {
       text-align: center;
     }
  }
