html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Lucida Grande";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.nav{
	width: 100%;
	height: 50px;
}

.nav ul{
  background-color: rgba(255, 255, 255, 0.3);
	padding-left: 200px;
	text-align: center;
}

.nav li{
	float: left;
  margin: 20px;
}

.nav a{
  color: white;

}


.top-wrapper {
  padding: 100px 0 100px 0;
  background-image: url(images/top_en.jpg);
  background-size: cover;
  color: green;

}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper h1 {
  text-align: left;
  opacity: 0.7;
  font-size: 60px;
  letter-spacing: 5px;
  margin-bottom: 5px;
}

.top-wrapper p {
  opacity: 0.7;
  font-size: 20px;
  margin-bottom: 3px;
}

.btn-wrapper {
  margin: 10px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #239b76;
  width: 180px;
}

.facebook {
  width: 180px;
  background-color: #3b5998;
}

.twitter {
  width: 180px;
  background-color: #55acee;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: #018b95;
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 20px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  background-color: #e37222;
  transition: all 0.5s;
}

.header-right:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.login {
  padding-top: 10px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
}
.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}


.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.heading h3 {
  font-weight: normal;
  padding-top: 30px;
}

.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 80px;
  width: 100%;
  color: #018b95;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 20px;
  font-size: 15px;
  color: #b3aeb5;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

.footer {
  background-color: #65babf;
  color: white;
  text-align: left;
  padding-left: 30px;
  height: 75px;
  width: 100%;
}


.footer-logo {
  float: left;
  padding: 30px 20px;
  font-size: 32px
}

.footer-list {
  float: right;
}

.footer-list h2 {
  padding: 33px 20px;
}


.footer-list li {
  Margin-left: : 40px;
  padding: 33px 20px;
}
